*{
    margin: 0;
    padding: 0;

}
.start{
    display: flex;
    align-items: center;
}
img{
    width: 50vw;
    height: 90vh;
}
.but{
    position: relative;
    left:20vw;
    width: 100px;
    height: 50px;
    color: aqua;
    background-color: black;
}